.dropdown {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: royalblue;
	transform: translateY(-5rem);
	transition: ease 1s;
	display: flex;
	justify-content: center;
	align-items: center;

	.menulogo-container {
		width: 100%;
		height: 80%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.logo {
			width: 10rem;
			height: 80%;
			border: 0.1rem solid rgb(255, 255, 255);
			margin-left: 0.5rem;
			align-self: center;
		}

		.menu {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: flex-end;
			width: 100%;
			margin-right: 0.5rem;
			height: 100%;
			text-transform: uppercase;
			align-self: center;

			a {
				text-decoration: none;
				color: #fff;
				font-weight: 900;
			}

			:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&-open {
		// background-color: #000;
		transform: translateX(0);
	}
}

.button {
	position: absolute;
	top: 4rem;
	right: -1rem;
	background-color: royalblue;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;

	&:hover {
		background-color: royalblue;
	}
}
